.card {
  display: flex;
  margin: 5%;
}

.dest .places {
  margin: 2% 4% 0.5% 7%;
  font-weight: 700;
  font-size: xx-large;
}

.dest h3 {
  margin: 0.2% 1% 1% 7%;
  font-weight: 400;
  font-size: medium;
}
