.intro {
  display: flex;
  height: 85vh;
}

.tag {
  margin: 1%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.tag h1 {
  font-size: 50px;
  margin-bottom: 3.5px;
}

.tag h2 {
  font-size: 15px;
  font-weight: 300;
}

.tag section p {
  border-radius: 20px;
  font-size: 20px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  background-color: lightblue;
  transition: all 1s;
}

.tag section p:hover {
  background-color: rgb(30, 91, 102);
  color: whitesmoke;
}

.cards {
  width: 45%;
  margin: 10px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assests/img/poster.jpg");
  justify-content: space-between;
}
